.inline-text {
  color: rgba(0, 0, 0, 0.85);
}
.inline-link {
  color: #6c5ce7;
  font-weight: 700;
  text-decoration: none;
}
.inline-bold {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
}
.inline-code {
  color: #6c5ce7;
  padding: 2px;
  background-color: #f8f9fa;
  font-size: 14px;
  font-family: "Roboto Mono", "Noto Sans KR", monospace;
}
.inline-description {
  background-color: #6c5ce73b;
  color: #241977;
}
